// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$my-theme-primary: mat-palette($mat-amber, 500, 200, 700);
$my-theme-accent: mat-palette($mat-blue, A200);
$my-theme-warn: mat-palette($mat-orange, 900);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat-light-theme(
    $my-theme-primary,
    $my-theme-accent,
    $my-theme-warn
);